<footer>
    <div class="wrap-footer">
        <img 
            src="../img/logo-footer.png"
            srcset="../img/logo-footer@2x.png 2x"
            alt="Logo Dra. Sara Belo">
        <div class="mid-footer">
            <h2>Dra. Sara Belo</h2>
            <h2>CRM-PR 52626 • RQE 32875</h2>
            <p>Oftalmologista pediátrica, especialista em estrabismo adulto e infantil.</p>
        </div>
        <div class="right-footer">
            <a class="item-footer" target="_blank" href="https://api.whatsapp.com/send?phone=5541998225995&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20avaliação%20com%20a%20doutora%20Sara%20Belo.">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Hospital de olhos do Paraná </h2>
                    <p>Rua Coronel Dulcídio, 199 | Batel, Curitiba</p>
                </div>
            </a>
            <a class="item-footer" target="_blank" href="https://api.whatsapp.com/send?phone=554130343535&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20avaliação%20com%20a%20doutora%20Sara%20Belo.">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Clínica Humana</h2>
                    <p>R. Eliseu José Hipólito, 148 | Centro, Piraquara </p>
                </div>
            </a>
            <a class="item-footer" target="_blank" href="https://api.whatsapp.com/send?phone=5541997590184&text=Estava%20no%20site%20e%20gostaria%20de%20agendar%20uma%20avaliação%20com%20a%20doutora%20Sara%20Belo.">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Hospital Angelina Caron</h2>
                    <p>Rodovia do Caqui, 1150 - Araçatuba, Campina Grande do Sul</p>
                </div>
            </a>
            <a class="item-footer" target="_blank" href="https://www.instagram.com/dra.sarabelo/">
                <img 
                    src="../img/icons/instagram.png"
                    srcset="../img/icons/instagram@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>@dra.sarabelo</h2>
                </div>
            </a>
           
        </div>
    </div>
    <a href="https://namiconsultoria.com.br" target="_blank" class="nami">Desenvolvido por Nami Consultoria</a>
</footer>