<footer>
    <div class="wrap-footer">
        <img 
            src="../img/logo-footer.png"
            srcset="../img/logo-footer@2x.png 2x"
            alt="Logo Dra. Sara Belo">
        <div class="mid-footer">
            <h2>Dra. Sara Belo</h2>
            <h2>CRM-PR 52626 • RQE 32875</h2>
            <p>Oftalmologista pediátrica, especialista em estrabismo adulto e infantil.</p>
        </div>
        <div class="right-footer">
            <div class="item-footer">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Hospital de olhos do Paraná </h2>
                    <p>Rua Coronel Dulcídio, 199 | Batel, Curitiba</p>
                </div>
            </div>
            <div class="item-footer">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Clínica Humana</h2>
                    <p>R. Eliseu José Hipólito, 148 | Centro, Piraquara </p>
                </div>
            </div>
            <div class="item-footer">
                <img 
                    src="../img/icons/whats.png"
                    srcset="../img/icons/whats@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>Hospital Angelina Caron</h2>
                    <p>Rodovia do Caqui, 1150 - Araçatuba, Campina Grande do Sul</p>
                </div>
            </div>
            <div class="item-footer">
                <img 
                    src="../img/icons/instagram.png"
                    srcset="../img/icons/instagram@2x.png 2x"
                    alt="">
                <div class="item-info">
                    <h2>@dra.sarabelo</h2>
                </div>
            </div>
           
        </div>
    </div>
    <a href="https://namiconsultoria.com.br" class="nami">Desenvolvido por Nami Consultoria</a>
</footer>