<nav class="nav">
  <a href="/">
    <img 
      src="../../img/icons/logo-nav.png" 
      srcset="../../img/icons/logo-nav@2x.png 2x, ../../img/icons/logo-nav@3x.png 3x"
      alt="logo da Dra Sara Belo">

  </a>

  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger only-mobile">
        <p class="abrir">Menu</p>
        <p class="fechar">Fechar</p>
      </span> 
    </span>

    <ul>
      <img 
        src="../../img/icons/logo-nav.png"
        srcset="../../img/icons/logo-nav@2x.png 2x, ../../img/icons/logo-nav@3x.png 3x"
        alt="Logo Dra. Sara Belo" class="only-mobile">
      <li>
        <a class="links" href="/">Home</a>
      </li>
      <li>
        <a class="links" href="/servicos">Serviços</a>
      </li>
      <li>
        <a class="links" href="/contato">Contato</a>
      </li>
    </ul>
  </label>
</nav> 