@use 'index' as *;

.contato{
    padding: 25rem 0 12rem;
    position: relative;
    .contato-logo{
        position: absolute;
        left: 50%;
        top: 3.6rem;
        transform: translateX(-50%);
    }
    .wrap-contato{
        display: flex;
        flex-direction: column;
        gap: 14rem;
        width: 85%;
        margin: auto;
        align-items: center;
        .item-contato{
            display: flex;
            gap: 10rem;
            align-items: center;
            justify-content: center;
            .info-contato{
                display: flex;
                flex-direction: column;
                width: 52.5rem;
                gap: 1.5rem;
                h2{
                    font-size: 4.4rem;
                    line-height: 4.4rem;
                    font-weight: 400;
                    letter-spacing: 0;
                    margin-bottom: 1.5rem;
                }
                h3{
                    font-size: 2rem;
                    line-height: 3rem;
                    letter-spacing: 0;
                    font-weight: 600;
                    margin-top: 1.5rem;
                }
                a, p{
                    font-size: 2rem;
                    line-height: 3rem;
                    letter-spacing: 0;
                    font-weight: 400;
                }
                .icons-contato{
                    display: flex;
                    gap: 1.5rem;
                }
            }
        }
    }
    @media screen and (max-width:700px) {
        padding: 13rem 0 6rem;
        .contato-logo{
            width: 17rem;
        }
        .wrap-contato{
            gap: 6rem;
            width: 90%;
            margin: auto;
            align-items: center;
            .item-contato{
                display: flex;
                flex-direction: column;
                gap: 3.6rem;
                align-items: center;
                justify-content: center;
                width: 100%;
                >img{
                    width: 100%;
                }
                .info-contato{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 1.5rem;
                    h2{
                        font-size: 2.6rem;
                        line-height: 2.6rem;
                        margin-bottom: 0rem;
                    }
                    h3{
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                        margin-top: 1.5rem;
                    }
                    a, p{
                        font-size: 1.6rem;
                        line-height: 2.4rem;
                    }
                    .icons-contato{
                        display: flex;
                        gap: 1rem;
                        margin-top: 1.5rem;
                        a{
                            width: 2.4rem;
                            height: 2.4rem;
                            img{
                                width: 100%;
                                height: 100%
                            }
                        }
                    }
                }
            }
            .reverse{
                flex-direction: column-reverse;
            }
        }
    }
}
