@use 'index' as *;

.contato{
    position: relative;
    >img{
        position: absolute;
        top: -4rem;
        right: 0;
    }
    h1{
        font-size: 3.6rem;
        line-height: 4.4rem;
        letter-spacing: 5%;
        font-weight: 800;
        width: 56rem;
        margin: 13.5rem 7% 8rem;
    }
    .wrap-contato{
        display: flex;
        width: 85%;
        justify-content: center;
        margin: auto;
        gap: 3.5rem;
        margin-bottom: 13rem;
        .item-contato{
            background-color: $branco;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 3.6rem;
            width: 39rem;
            height: 66rem;
            .info-contato{
                padding: 0 2rem 3.9rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                height: 100%;
                position: relative;
                h2{
                    font-size: 2.2rem;
                    line-height: 2.2rem;
                    letter-spacing: 5%;
                    font-weight: 800;
                }
                p{
                    font-size: 1.9rem;
                    line-height: 2.9rem;
                    letter-spacing: 5%;
                    font-weight: 500;
                }
                .icons-contato{
                    display: flex;
                    gap: 6px;
                    justify-self: flex-end;
                    position: absolute;
                    bottom: 3.5rem;

                    a{
                        width: 3rem;
                        height: 3rem;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
