@use 'index' as *;

.sara{
    display: flex;
    padding:15rem 7% 18rem 0;
    gap: 18rem;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .right-sara{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        .title-sara{
            margin-bottom: 1rem;
            h1{
                font-size: 4.4rem;
                line-height: 4.4rem;
                letter-spacing: 5%;
                font-weight: 700;
            }
            h4{
                font-size: 1.9rem;
                line-height: 3.2rem;
                letter-spacing: 5%;
            }
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            font-weight: 500;
            width: 60rem;
        }
        a{
            margin-top: 1rem;
        }
    }
    .back-sara{
        width: 53rem;
        position: absolute;
        left: 4rem;
        bottom: 12rem;
        z-index: 1;
        width: 63rem;
    }
    .sara-img{
        z-index: 2;
    }
}

.servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    margin: auto;
    h2{
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 10%;
        font-weight: 800;
        color: $azul-500;
        text-transform: uppercase;
    }
    h1{
        font-size: 3.4rem;
        line-height: 4.2rem;
        letter-spacing: 5%;
        font-weight: 800;
        width: 61rem;
        text-align: center;
    }
    .wrap-servicos{
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem;
        margin: 9rem auto;
        .item-servicos{
            display: flex;
            flex-direction: column;
            width: 39rem;
            height: 50rem;
            position: relative;
            gap: 3rem;
            border-radius: 20px;
            background-color: $branco;
            .mainImg{
                border-radius: 20px 20px 0 0;
            }
            p{
                font-size: 2.3rem;
                line-height: 3rem;
                letter-spacing: 6%;
                font-weight: 800;
                margin-left: 3rem;
                color: $azul-900;
            }
            .open{
                position: absolute;
                right: 3rem;
                bottom: 4rem;
            }
        }
    }
    p{
        font-size: 2.3rem;
        line-height: 2rem;
        letter-spacing: 5%;
        font-weight: 600;
        color: $azul-900;
    }
    a{
        margin: 4.3rem auto;
    }
}

.estrabismo{
    aspect-ratio: 144/90;
    width: 100%;
    height: auto;
    position: relative;
    .back-estrabismo{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
    }
    .wrap-estrabismo{
        position: absolute;
        z-index: 2;
        display: flex;
        top: 55%;
        justify-content: space-between;
        width: 100%;
        transform: translateY(-50%);
        gap: 10rem;
        padding-left: 7%;
        .left-estrabismo{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 50rem;
            h2{
                font-size: 2rem;
                line-height: 2rem;
                letter-spacing: 10%;
                font-weight: 800;
                color: $azul-500;
                text-transform: uppercase;
            }
            h1{
                font-size: 3.6rem;
                line-height: 4.4rem;
                letter-spacing: 5%;
                font-weight: 800;
            }
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                letter-spacing: 5%;
                font-weight: 500;
                margin: 2rem 0;
            }
        }
    }
}

.olhar{
    background-color: $azul-900;
    padding: 0 0 8rem;
    .wrap-olhar{
        display: flex;
        align-items: flex-end;
        gap: 10rem;
        padding-right: 7%;
        .right-olhar{
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: 51rem;
            h1{
                font-size: 3.6rem;
                line-height: 4.4rem;
                letter-spacing: 5%;
                font-weight: 800;
                color: $azul-300;
            }
            p{
                font-size: 2.2rem;
                line-height: 3.2rem;
                letter-spacing: 5%;
                font-weight: 500;
                color: $azul-300;
                margin-bottom: 3rem;
            }
        }
    }
}

.depoimentos{
    position: relative;
    padding-left: 7%;
    margin-bottom: 9rem;
    >img{
        position: absolute;
        top: 0;
        right: 0;
    }
    .title-depoimentos{
        padding-top: 13rem;   
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 51rem;
        h2{
            font-size: 2rem;
            line-height: 2rem;
            letter-spacing: 10%;
            color: $azul-500;
            text-transform: uppercase;
            font-weight: 800;
        }
        h1{
            font-size: 3.4rem;
            line-height: 4.4rem;
            letter-spacing: 5%;
            font-weight: 800;
        }
    }
    .swiper{
        margin-top: 7rem;
        margin-left: 11rem;
        .swiper-wrapper{
            .swiper-slide{
                width: 38rem;
                height: 40rem;
                display: flex;
                flex-direction: column;
                background-color: $branco;
                padding: 4.8rem 3rem;
                border-radius: 30px;
                gap: 2rem;
                p{
                    font-size: 1.9rem;
                    line-height: 2.8rem;
                    letter-spacing: 5%;
                    font-weight: 400;
                }
                h4{
                    font-size: 1.9rem;
                    line-height: 2.8rem;
                    letter-spacing: 5%;
                    font-weight: 700;
                }
            }
        }
    }
    .swiper-buttons{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        position: absolute;
        left: 7%;
        bottom: 0;
    }
}