@use 'index' as *;

.intro-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12rem 0 0;
    margin-bottom: 13rem;
    position: relative;
    gap: 15rem;
    .back-intro{
        position: absolute;
        bottom: 0;
        right: 9rem;
        z-index: 1;
    }
    .left-intro{
        width: 61rem;
        margin-left: 7%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        h1{
            font-size: 3.6rem;
            line-height: 4.6rem;
            letter-spacing: 5%;
            font-weight: 800;
            width: 55rem;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            font-weight: 500;;
        }
        h4{
            font-size: 2.4rem;
            font-weight: 800;
            letter-spacing: 5%;
        }
    }
    .right-img{
        z-index: 2;
    }
}

.intro-info2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12rem 0 0;
    margin-bottom: 13rem;
    position: relative;
    gap: 15rem;
    .back-intro{
        position: absolute;
        bottom: 0;
        right: 9rem;
        z-index: 1;
    }
    .left-intro{
        width: 64rem;
        margin-left: 7%;
        display: flex;
        flex-direction: column;
        gap: 5rem;
        h1{
            font-size: 3.6rem;
            line-height: 4.6rem;
            letter-spacing: 5%;
            font-weight: 800;
            width: 64rem;
        }
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            font-weight: 500;;
        }
        h4{
            font-size: 2.4rem;
            font-weight: 800;
            letter-spacing: 5%;
        }
    }
    .right-img{
        z-index: 2;
    }
}

.boxes{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-bottom: 16rem;
   
    h1{
        font-weight: 700;
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 5%;
    }
     .wrap-boxes{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        width: 85%;
        margin: 3rem auto 7rem;
        .box{
            display: grid;
            width: 39rem;
            height: 39rem;
            justify-content: center;
            gap: 5rem;
            grid-template-rows: 1fr 1fr;
            border-radius: 20px;
            img{
                grid-column: 1;
                align-self: flex-end;
                justify-self: center;
            }
            p{
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 600;
                text-align: center;
                width: 34rem;
                align-self: flex-start;
                justify-self: center
            }
        }
        .box2{
            display: grid;
            width: 29rem;
            height: 39rem;
            justify-content: center;
            gap: 4rem;
            grid-template-rows: 1fr 1fr;
            border-radius: 20px;
            img{
                grid-column: 1;
                align-self: flex-end;
                justify-self: center;
            }
            p{
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 600;
                text-align: center;
                width: 23.5rem;
                align-self: flex-start;
                justify-self: center
            }
        }
        .blueBox{
            background-color: $azul-300;
        }
        .greenBox{
            background-color: $verde;
        }
        .pinkBox{
            background-color: $rosa;
        }
    }
    p{
        font-size: 2.2rem;
        line-height: 3rem;
        font-weight: 600;
        letter-spacing: 5%;
        text-align: center;
        width: 80%;
        margin: auto;
    }
}

.beneficios{
    margin-bottom: 11rem;
    h2{
        font-size: 3rem;
        line-height: 3rem;
        letter-spacing: 5%;
        font-weight: 800;
        text-align: center;
        margin-bottom: 7rem;
    }
    .wrap-beneficios{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        width: 85%;
        margin: auto;
        justify-content: space-between;
        .beneficios-box{
            width: 295px;
            height: 295px;
            background-color: $branco;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            p{
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 600;
                width: 23rem;
            }
        }
    }
}

.pre-footer{
    aspect-ratio: 144/60;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 6rem;
    .back-prefooter{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    .opcoes{
        background-color: $branco;
        padding: 9rem 6.5rem 6rem 10rem;
        position: relative;
        z-index: 2;
        border-radius: 20px;
        width: 85%;
        margin: -9rem auto 0;
        .wrap-info{
            display: flex;
            gap: 12rem;
            h3{
                font-size: 2.4rem;
                line-height: 2.4rem;
                letter-spacing: 5%;
                font-weight: 800;
            }
            p{
                font-size: 2rem;
                line-height: 3rem;
                letter-spacing: 5%;
                font-weight: 500;
                width: 65rem;
            }
        }
    }
    .pre-text{
        position: absolute;
        left: 50%;
        bottom: 10rem;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        gap: 5rem;
        z-index: 2;
        align-items: center;
        width: 80%;
        p{
            font-size: 2rem;
            line-height: 3rem;
            letter-spacing: 5%;
            font-weight: 600;
            text-align: center;
        }
    }
}