@use "./colors" as *;


$area: "area-normal", sans-serif;
$area-300: 'area-normal-light', sans-serif;


strong {
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

main {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  background-color: $background;
  position: relative;
}

body,
input,
button,
textarea {
  font-family: $area;
  color: $azul-900;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.whatsapp {
  position: fixed;
  z-index: 10;
  bottom: 3rem;
  right: 5rem;
  width: 7rem;
  height: 7rem;

  @media screen and (max-width: 700px) {
    right: 24px;
    width: 6rem;
    height: 6rem;
  }
}

.only-mobile {
  display: none !important;
}
.mobile-tablet{
  display: none !important;
}

@media screen and (max-width: 700px) {
  .only-mobile {
    display: initial !important;
  }

  .mobile-tablet{
    display: initial !important;
  }
  .tablet-desktop{
    display: none !important;
  }
  .only-desktop {
    display: none !important;
  }
}
@media screen and (min-width:701px) and (max-width:1260px){
  .mobile-tablet{
    display: initial !important;
  }
  .only-desktop{
    display: none !important;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}