@use "./colors" as *;
@use "./global" as *;


.header{
    position: relative;
    aspect-ratio: 144/70;
    width: 100%;
    height: auto;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        right: 10rem;
        top: 54%;
        transform: translateY(-50%);
        z-index: 3;
        width: 50rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        h1{
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 5%;
        }
    }

  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/40;
        height: auto;
        .header-text{
            position: absolute;
            left: unset;
            right: 2rem;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            width: 17rem;
            gap: 1rem;
            h1{
                font-size: 2rem;
                line-height: 2.6rem;
            }
        }

    }
}


.header2{
    position: relative;
    aspect-ratio: 144/70;
    width: 100%;
    height: auto;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 10rem;
        top: 60%;
        transform: translateY(-50%);
        z-index: 3;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 5%;
        }
        h2{
            font-size: 2.1rem;
            line-height: 5rem;
            letter-spacing: 5%;
            font-weight: 600;
            margin-bottom: 2rem;
        }
    }

  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/40;
        height: auto;
        .header-text{
            position: absolute;
            left: 5%;
            top: 70%;
            transform: translate( 0, -50%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: left;
            h1{
                font-size: 2.3rem;
                line-height: 2.4rem;
                letter-spacing: 4%;
            }
            h2{
                font-size: 1.6rem;
                line-height: 2.2rem;
                letter-spacing: 4%;
                margin-bottom: 1.6rem;
                width: 80%;
            }
        }
    }
}



@keyframes arrow{
    from {
        transform: translateY(0);
    }

    to{
        transform: translateY(2rem);
    }
}