@use "./colors" as *;
@use "./global" as *;


.header{
    position: relative;
    aspect-ratio: 144/70;
    width: 100%;
    height: auto;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        right: 10rem;
        top: 54%;
        transform: translateY(-50%);
        z-index: 3;
        width: 50rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        h1{
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 5%;
        }
    }

  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/50;
        height: auto;
        .header-text{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            width: 21.5rem;
            text-align: center;
        }

    }
}


.header2{
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 144/70;
    .header-back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 2;
    }
    .header-text{
        position: absolute;
        left: 10rem;
        top: 54%;
        transform: translateY(-50%);
        z-index: 3;
        h1{
            font-size: 4rem;
            line-height: 5rem;
            letter-spacing: 5%;
        }
        p{
            font-size: 2.2rem;
            line-height: 5rem;
            letter-spacing: 5%;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }
    }
  
    @media screen and (max-width:700px) {
        aspect-ratio: 36/50;
        height: auto;
        .header-text{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            display: flex;
            flex-direction: column;
            width: 21.5rem;
            text-align: center;
            h2{
                font-size: 1.6rem;
                line-height: 1.9rem;
                margin-bottom: 0rem;
            }
        }
        .nav-logo{
            top: 3rem;
            width: 17rem;
        }
    }
}



@keyframes arrow{
    from {
        transform: translateY(0);
    }

    to{
        transform: translateY(2rem);
    }
}