---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
permalink: /404.html
eleventyExcludeFromCollections: true
layout: "base.njk"
cssPath: "/css/erro.css"
---

{% include 'nav.njk' %}


<div class="error">
    <h1>Ops! Esse link não foi encontrado</h1>
    <a href="/"> 
        <p>
            Voltar para a página inicial
        </p>
    </a>
</div>

{% include 'footer.njk' %}