---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/oftalmopediatria.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop header-back" src="../img/pages/atendimento-header.png" alt="">
    <img class="only-mobile header-back" src="../img/pages/atendimento-header-mob.png" alt="">
    <div class="header-text">
        <h1>Atendimento domiciliar</h1>
        <h2>Oftalmopediatria no conforto do lar.</h2>
        <div class="azulButton card-open card-open"><p>Vamos conversar?</p></div>
    </div>
</header>

<section class="intro-info">
    <img src="../img/home/back-sara.png" class="back-intro tablet-desktop" alt="">
    <div class="left-intro">
        <h1 class="bigIntro">Atendimento domiciliar em oftalmologia: excelência com acolhimento.</h1>
        <img src="../img/pages/atendimento-mob.png" class="right-img only-mobile" alt="">
        <p>Cuidar da saúde ocular é essencial em todas as fases da vida, mas nem sempre é fácil comparecer a uma clínica. Pensando nisso, a Dra. Sara Belo oferece atendimento domiciliar em oftalmologia, garantindo conforto, acessibilidade e qualidade no cuidado com a visão.</p>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
    <img src="../img/pages/atendimento.png" class="right-img tablet-desktop" alt="">
</section>

<section class="pre-footer">
    <img src="../img/pages/back-pre.png" class="back-prefooter tablet-desktop" alt="">
    <img src="../img/home/back-estrabismo.png" class="back-prefooter only-mobile" alt="">
    <div class="opcoes bigBox">
        <div class="wrap-info">
            <h3>Para quem é indicado?</h3>
            <p>O atendimento em casa é especialmente voltado para:  
                <br/><br/>
                • Pacientes acamados ou com baixa mobilidade, que enfrentam dificuldades de locomoção.
                <br/><br/>  
                • Crianças autistas ou com necessidades especiais, que se beneficiam de um ambiente mais familiar e tranquilo. 
            </p>
        </div>
    </div>
    <div class="pre-text">
        <p>Com experiência em oftalmopediatria e estrabismo, a Dra. Sara Belo leva até a casa do paciente um atendimento humanizado, seguro e personalizado. O objetivo é tornar o cuidado com a visão mais acessível, sem abrir mão da excelência e do acolhimento.</p>
        <div class="azulButton card-open">Agende sua consulta</div>
    </div>
</section>

{% include 'footer.njk' %}


