---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<div class="contato">
    <a href="/">
        <img src="../img/contato-logo.png"
            srcset="../img/contato-logo@2x.png 2x"
            class="contato-logo"
            alt="">
    </a>

    <div class="wrap-contato">
        <div class="item-contato">
            <img src="../img/eventos/juveve.png" alt="">
            <div class="info-contato">
                <h2>Juvevê</h2>
                <h3>Endereço</h3>
                <a href="https://share.google/dOiCND93lMMDSIOwk">
                    R. Rocha Pombo, 246 - Juvevê, Curitiba - PR, 80030-390
                </a>
                <p>
                    Estacionamento próprio e gratuito
                </p>
                <h3>
                    Horários
                </h3>
                <p>
                    Segunda a Sábado: 12h - 14:30 | 19h - 22:30<br/>Domingo: 12h - 15h
                </p>
                <h3>
                    Contato
                </h3>
                <a href="tel:+554130304971">
                    (41) 3030-4971
                </a>
                <div class="icons-contato">
                    <a href="https://www.instagram.com/armazem_71/">
                        <img 
                        src="../img/icons/instagram.png" 
                        srcset="../img/icons/instagram@2x.png 2x, ../img/icons/instagram@3x.png 3x"
                        alt="">
                    </a>
                    <a href="https://share.google/dOiCND93lMMDSIOwk">
                        <img 
                        src="../img/icons/adress.png"
                        srcset="../img/icons/adress@2x.png 2x, ../img/icons/adress@3x.png 3x"
                        alt="">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=554130304971&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank">
                        <img 
                        src="../img/icons/whats.png"
                        srcset="../img/icons/whats@2x.png 2x, ../img/icons/whats@3x.png 3x"
                        alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item-contato reverse">
            <div class="info-contato">
                <h2>Shopping Curitiba</h2>
                <h3>Endereço</h3>
                <a href="https://share.google/hUKn2zid7CIrY90Th">
                    R. Brg. Franco, 2300 - Loja 256 - Largo Curitiba, Curitiba - PR, 80250-903
                </a>
                <h3>
                    Horários
                </h3>
                <p>
                    Segunda a Sábado: 12h - 14:30 | 19h - 22:30<br/>Domingo: 12h - 15h
                </p>
                <h3>
                    Contato
                </h3>
                <a href="tel:+5541988553826">
                    (41) 98855-3826
                </a>
                <div class="icons-contato">
                    <a href="https://www.instagram.com/armazem_71/">
                        <img 
                        src="../img/icons/instagram.png" 
                        srcset="../img/icons/instagram@2x.png 2x, ../img/icons/instagram@3x.png 3x"
                        alt="">
                    </a>
                    <a href="https://share.google/hUKn2zid7CIrY90Th">
                        <img 
                        src="../img/icons/adress.png"
                        srcset="../img/icons/adress@2x.png 2x, ../img/icons/adress@3x.png 3x"
                        alt="">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5541988553826&text=Estava%20no%20site%20e%20gostaria%20de%20fazer%20uma%20reserva." target="_blank">
                        <img 
                        src="../img/icons/whats.png"
                        srcset="../img/icons/whats@2x.png 2x, ../img/icons/whats@3x.png 3x"
                        alt="">
                    </a>
                </div>
            </div>
            <img src="../img/eventos/shopping.png" alt="">

        </div>
    </div>
</div>


{% include 'footer.njk' %}


<script>
    const contato = document.querySelector('#contato');
    
    contato.classList.add("selected")
</script>