---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/contato.css"
---

{% include 'nav.njk' %}

<div class="contato">
    <img src="../img/home/depoimentos.png" alt="">
    <h1>Seu cuidado com a visão começa aqui. Fale conosco e agende seu atendimento.</h1>
    <div class="wrap-contato">
        <div class="item-contato">
            <img src="../img/contato/hospital-olhos.png" alt="">
            <div class="info-contato">
                <h2>Hospital de olhos do Paraná</h2>
                <p>Alameda Pres. Taunay, 483 - Batel, Curitiba - PR</p>
                <p>(41) 99822-5995</p>
                <div class="icons-contato">
                    <a href="">
                        <img src="../img/icons/address.png"
                        srcset="../img/icons/address@2x.png" alt="">
                    </a>
                    <a href="">
                        <img src="../img/icons/whatsapp.png"
                        srcset="../img/icons/whatsapp@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item-contato">
            <img src="../img/contato/angelina-caron.png" alt="">
            <div class="info-contato">
                <h2>Hospital Angelina Caron</h2>
                <p>Rodovia do Caqui, 1150 - Araçatuba, Campina Grande do Sul - PR</p>
                <p>(41) 3679-8100</p>
                <div class="icons-contato">
                    <a href="">
                        <img src="../img/icons/address.png"
                        srcset="../img/icons/address@2x.png" alt="">
                    </a>
                    <a href="">
                        <img src="../img/icons/whatsapp.png"
                        srcset="../img/icons/whatsapp@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="item-contato">
            <img src="../img/contato/clinica-humana.png" alt="">
            <div class="info-contato">
                <h2>Clínica Humana</h2>
                <p>R. Eliseu José Hipólito, 148 - Centro, Piraquara - PR</p>
                <p>(41) 3034-3535</p>
                <div class="icons-contato">
                    <a href="">
                        <img src="../img/icons/address.png"
                        srcset="../img/icons/address@2x.png" alt="">
                    </a>
                    <a href="">
                        <img src="../img/icons/whatsapp.png"
                        srcset="../img/icons/whatsapp@2x.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'footer.njk' %}

