---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/oftalmopediatria.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop header-back" src="../img/pages/infantil-header.png" alt="">
    <img class="only-mobile header-back" src="../img/pages/infantil-header-mob.png" alt="">
    <div class="header-text">
        <h1>Estrabismo infantil</h1>
        <h2>Olhinhos alinhados, infância mais feliz.</h2>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
</header>

<section class="intro-info">
    <img src="../img/home/back-sara.png" class="back-intro tablet-desktop" alt="">
    <div class="left-intro">
        <h1>Estrabismo Infantil: quando cuidar faz toda a diferença.</h1>
        <img src="../img/pages/estrabismo-mob.png" class="right-img only-mobile" alt="">
        <p>O estrabismo é uma alteração ocular caracterizada pelo desalinhamento dos olhos, que pode aparecer logo nos primeiros meses ou anos de vida. Nessa condição, um dos olhos pode desviar para dentro, para fora, para cima ou para baixo, enquanto o outro permanece fixo no objeto observado.</p>
        <h4>Por que identificar cedo é importante?</h4>
        <p>Na infância, o cérebro está em pleno desenvolvimento visual. Se o estrabismo não for diagnosticado e tratado precocemente, pode levar à ambliopia (olho preguiçoso) e prejudicar a visão binocular, responsável pela noção de profundidade e pelo campo visual ampliado.</p>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
    <img src="../img/pages/estrabismo.png" class="right-img tablet-desktop" alt="">
</section>

<section class="boxes">
    <h1>Sinais que merecem atenção dos pais</h1>
    <div class="wrap-boxes">
        <div class="box2 blueBox">
            <img src="../img/pages/desalinhados.png" alt="">
            <p>Olhos desviados, mesmo que de forma intermitente.</p>
        </div>
        <div class="box2 greenBox">
            <img src="../img/pages/fechar.png" alt="">
            <p>Fechar um dos olhos ao olhar para objetos ou para a luz.</p>
        </div>
        <div class="box2 pinkBox">
            <img src="../img/pages/foco.png" alt="">
            <p>Inclinar a cabeça frequentemente para focar.</p>
        </div>
        <div class="box2 blueBox">
            <img src="../img/pages/movimento.png" alt="">
            <p>Dificuldade de acompanhar objetos em movimento.</p>
        </div>
    </div>
    <p>Com acolhimento e experiência, a Dra. Sara Belo avalia cada criança de forma cuidadosa, respeitando seu ritmo e trazendo tranquilidade aos pais. </p>
    <div class="azulButton card-open">Agende sua consulta</div>
</section>

{% include 'footer.njk' %}

