---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="">
    <div class="header-text">
        <h1>Estrabismo infantil</h1>
        <p>Olhinhos alinhados, infância mais feliz.</p>
        <a href="" class="azulButton">Vamos conversar?</a>
    </div>
</header>



{% include 'footer.njk' %}
