---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/home.css"
---

{% include 'nav.njk' %}

<header class="header">
    <img class="tablet-desktop header-back" src="../img/home/header.png" alt="">
    <img class="only-mobile header-back" src="../img/home/header-mob.png" alt="">
    <div class="header-text">
        <h1>Excelência no cuidado da visão infantil e do estrabismo em todas as idades.</h1>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
</header>

<section class="sara">
    <div class="title-sara only-mobile">
        <h1>Dra. Sara Belo</h1>
        <h4>CRM-PR 52626 • RQE 32875</h4>
    </div>
    <img src="../img/home/sara.png" class="sara-img tablet-desktop" alt="Foto da Dra. Sara Belo">
    <img src="../img/home/sara-mob.png" class="sara-img only-mobile" alt="Foto da Dra. Sara Belo">
    <div class="right-sara">
        <div class="title-sara tablet-desktop">
            <h1>Dra. Sara Belo</h1>
            <h4>CRM-PR 52626 • RQE 32875</h4>
        </div>
        <p>Médica oftalmologista formada pelas Faculdades Integradas Aparício Carvalho (Porto Velho – RO), com especialização em Oftalmologia pelo Hospital Oftalmológico Velloso (Rio Branco – AC) e fellowship em Oftalmopediatria e Estrabismo pelo Hospital de Olhos do Paraná (Curitiba – PR).</p>
        <p>Seu trabalho é voltado especialmente para o cuidado de crianças e pacientes com estrabismo, sempre unindo conhecimento técnico à sensibilidade no atendimento. Sua missão é cuidar da visão com dedicação e clareza, valorizando não apenas os exames realizados, mas também as histórias e necessidades únicas de cada paciente.</p>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
    <img src="../img/home/back-sara.png" class="back-sara" alt="">
</section>

<section class="servicos" id="servicos">
    <h2>Serviços</h2>
    <h1>Conheça as especialidades que cuidam da visão com precisão e acolhimento.</h1>
    <div class="wrap-servicos">
        <a class="item-servicos" href="/oftalmopediatria">
            <img src="../img/home/oftalmopediatria.png" class="mainImg" alt="">
            <p>Oftalmopediatria</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
        <a class="item-servicos" href="/estrabismo-infantil">
            <img src="../img/home/estrabismo.png" class="mainImg" alt="">
            <p>Estrabismo infantil</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
        <a class="item-servicos" href="/estrabismo-adulto">
            <img src="../img/home/adulto.png" class="mainImg" alt="">
            <p>Estrabismo adulto</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
        <a class="item-servicos" href="/cirurgia">
            <img src="../img/home/cirurgia.png" class="mainImg" alt="">
            <p>Cirurgia de estrabismo</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
        <a class="item-servicos" href="/atendimento">
            <img src="../img/home/atendimento.png" class="mainImg" alt="">
            <p>Atendimento domiciliar</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
        <a class="item-servicos" href="/oftalmologia">
            <img src="../img/home/geral.png" class="mainImg" alt="">
            <p>Oftalmologia geral</p>
            <img src="../img/home/open.png"
            srcset="../img/home/open@2x.png 2x"
            class="open" alt="">
        </a>
    </div>
    <p>Veja como a oftalmopediatria e o tratamento do estrabismo podem fazer a diferença.</p>
    <div class="azulButton card-open">Vamos conversar?</div>
</section>

<section class="estrabismo">
    <img src="../img/home/back-estrabismo.png" alt="" class="back-estrabismo tablet-desktop">
    <img src="../img/home/back-estrabismo-mob.png" alt="" class="back-estrabismo only-mobile">
    <div class="wrap-estrabismo">
        <div class="left-estrabismo">
            <h2>Cirurgia de estrabismo</h2>
            <h1>Corrigir o estrabismo é devolver alinhamento, funcionalidade e confiança ao olhar.</h1>
            <img src="../img/home/corrigir.png" class="only-mobile" alt="">
            <p>A cirurgia de estrabismo vai além da estética. É essencial para o desenvolvimento visual, restaurando a visão binocular em crianças e adultos. </p>
            <a href="" class="rosaButton">Agende sua consulta</a>
        </div>
        <img src="../img/home/corrigir.png" class="tablet-desktop" alt="">
    </div>
</section>

<section class="olhar">
    <div class="wrap-olhar">
        <img src="../img/home/olhar.png" alt="">
        <div class="right-olhar">
            <h1>Um olhar atento para o futuro das crianças.</h1>
            <p>A consulta regular permite o diagnóstico e tratamento precoce de problemas visuais, garantindo que a visão se desenvolva de forma plena e saudável. Não espere os sintomas aparecerem. Um exame de rotina é fundamental para o futuro do seu filho.</p>
            <a href="" class="verdeButton">Agende sua consulta</a>
        </div>
    </div>
</section>

<section class="depoimentos">
    <img src="../img/home/depoimentos.png" alt="">
    <div class="title-depoimentos">
        <h2>depoimentos</h2>
        <h1>Olhos que falam por si.<br/>A visão dos pacientes sobre nosso cuidado.</h1>
    </div>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <h4>
                    Priscilla
                </h4>
            </div>
            <div class="swiper-slide">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <h4>
                    Priscilla
                </h4>
            </div>
            <div class="swiper-slide">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <h4>
                    Priscilla
                </h4>
            </div>
            <div class="swiper-slide">
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.”</p>
                <h4>
                    Priscilla
                </h4>
            </div>
        </div>
    </div>
    <div class="swiper-buttons">
        <img src="../img/home/previous.png"
        srcset="./img/home/previous@2x.png 2x" alt="" class="button-prev">
        <img src="../img/home/next.png"
        srcset="./img/home/next@2x.png 2x" alt="" class="button-next">
    </div>

</section>

<section class="cuide">
    <img src="../img/home/cuide-back.png" class="cuide-back tablet-desktop" alt="">
    <img src="../img/home/cuide-back-mob.png" class="cuide-back only-mobile" alt="">
    <div class="wrap-cuide">
        <img src="../img/home/cuide.png" class="tablet-desktop" alt="">
        <div class="right-cuide">
            <h1>Cuide da sua visão com quem entende</h1>
            <p>Da infância à vida adulta, estamos prontos para acompanhar você em todas as etapas com atenção e empatia.</p>
            <div class="item-cuide">
                <p>Hospital de olhos do Paraná</p>
                <a href="">
                    <img src="../img/icons/address.png" 
                    srcset="../img/icons/address@2x.png 2x"
                    alt="">
                </a>
                <a href="">
                    <img src="../img/icons/whatsapp.png"
                    srcset="../img/icons/whatsapp@2x.png 2x" 
                    alt="">
                </a>
            </div>
            <div class="item-cuide">
                <p>Clínica Humana</p>
                <a href="">
                    <img src="../img/icons/address.png" 
                    srcset="../img/icons/address@2x.png 2x"
                    alt="">
                </a>
                <a href="">
                    <img src="../img/icons/whatsapp.png"
                    srcset="../img/icons/whatsapp@2x.png 2x" 
                    alt="">
                </a>
            </div>
            <div class="item-cuide">
                <p>Hospital Angelina Caron</p>
                <a href="">
                    <img src="../img/icons/address.png" 
                    srcset="../img/icons/address@2x.png 2x"
                    alt="">
                </a>
                <a href="">
                    <img src="../img/icons/whatsapp.png"
                    srcset="../img/icons/whatsapp@2x.png 2x" 
                    alt="">
                </a>
            </div>
        </div>
        <img src="../img/home/cuide.png" class="only-mobile" alt="">
    </div>
</section>

<section class="perguntas">
    <img src="../img/home/back-perguntas.png" class="back-perguntas" alt="">
    <h2>Perguntas frequentes</h2>
    <div class="itens">
      <div class="item" onclick="toggleInfo('quando')">
        <h5>Quando levar meu filho ao oftalmopediatra?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
            alt="" class="toggle-button">        
        <div class="more-info" id="quando">
          <p>
            Segundo a sociedade brasileira de oftalmo pediatria A primeira avaliação é entre os 6 meses e 1 ano de idade e aos 3 anos. Após esses primeiros exames o oftalmologista vai definir qual a melhor rotina de exames durante o resto da infância 
          </p>      
        </div>
      </div>
      <div class="item" onclick="toggleInfo('ambliopia')">
        <h5>O que é ambliopia?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
                srcset="../img/icons/abrir@2x.png"
                alt="" class="toggle-button">       
        <div class="more-info" id="ambliopia">
            <p>
                Também chamado de “olho preguiçoso” é a redução da visão de um dos olhos que, em geral, não pode ser corrigida apenas com o uso de óculos. Ocorre uma falha no desenvolvimento da acuidade visual por falta de um estímulo adequado durante o período crítico do desenvolvimento visual (antes dos 8 anos de idade) que se não corrigida no tempo adequado pode ter diminuição visual, perda da função de contraste, dificuldade de localização e distorções espaciais permanentes.
            </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('estrabismo')">
        <h5>O que é estrabismo?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
            alt="" class="toggle-button">
        <div class="more-info" id="estrabismo">
            <p>
                É o desalinhamento dos olhos. Há três tipos o desvio convergente (para dentro), divergente(para fora) e vertical (um para cima e o outro para baixo).
Existe várias causas e tratamentos. 
É importante avaliar com um especialista em estrabismo para saber o diagnóstico correto e o tratamento mais indicado.
            </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('pseudo')">
        <h5>
          O que é pseudoestrabismo?
        </h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
        alt="" class="toggle-button">
        <div class="more-info" id="pseudo">
            <p>
                Também chamado de falso estrabismo é uma condição em que os olhos parecem estar desviados mas estão alinhados. Muito comum em bebês antes dos 6 meses e descendestes orientais e indígenas.
            </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('tampao')">
        <h5>O tampão pode corrigir o estrabismo?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
        alt="" class="toggle-button">
        <div class="more-info" id="tampao">
            <p>
                Não, o tampão é para tratar a ambliopia que pode com a melhora da acuidade visual fornecer um controle maior no estrabismo mas não sua cura.
            </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('aultos')">
        <h5>Adultos podem fazer cirurgia de estrabismo?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
        alt="" class="toggle-button">
        <div class="more-info" id="aultos">
            <p>
                Sim, a correção cirúrgica do estrabismo pode ser realizada em qualquer idade.
            </p>
        </div>
      </div>
      <div class="item" onclick="toggleInfo('dilatar')">
        <h5>Por que é importante dilatar a pupila das crianças?</h5>
        <span class="srOnly"></span>
        <img src="../img/icons/abrir.png"
            srcset="../img/icons/abrir@2x.png"
        alt="" class="toggle-button">
        <div class="more-info" id="dilatar">
            <p>
                A dilatação pupilar das crianças é imprescindível para realizar a refração estática (grau) e o mapeamento de retina, podendo assim descartar doenças como retinoblastoma, altas ametropias e anisometropias.
            </p>
        </div>
      </div>
 
    </div>
  </section>

{% include 'footer.njk' %}


<script>
    const swiper = new Swiper(".swiper", {
      spaceBetween: 30,
      slidesPerView: 'auto',
      navigation: {
        nextEl: ".button-next",
        prevEl: ".button-prev"
      },
  
      breakpoints: {
        // when window width is >= 480px
        300: {
          slidesPerView: 'auto',
          spaceBetween: 50,
          width: 350
        },
        // when window width is >= 1600px
        1000: {
          slidesPerView: 'auto',
          width: 550
        }
      }
    });

</script>


<!-- Script do perguntas frequentes -->

<script>
  function toggleInfo(id) {
    const infoDiv = document.getElementById(id);
    const button = infoDiv.previousElementSibling;
    if (infoDiv.style.display === "none" || infoDiv.style.display === "") {
      reset();
      infoDiv.style.display = "block";
      button.src = "../img/icons/fechar.png";
      button.srcset = "../img/icons/fechar@2x.png";
    } else {
      infoDiv.style.display = "none";
      button.src = "../img/icons/abrir.png";
      button.srcset = "../img/icons/abrir@2x.png";
    }
  }
  function reset() {
    const info = document.getElementsByClassName("more-info");
    const button = document.getElementsByClassName("toggle-button");
    for (let i = 0; i < info.length; i++) {
      info[i].style.display = "none";
      button[i].src = "../img/icons/abrir.png";
      button[i].srcset = "../img/icons/abrir@2x.png";
    }
  }
</script>
