---
title: Dra. Sara Belo - Oftalmopediatria e Estrabismo
layout: "base.njk"
cssPath: "/css/oftalmopediatria.css"
---

{% include 'nav.njk' %}

<header class="header2">
    <img class="tablet-desktop header-back" src="../img/pages/oftalmopediatria-header.png" alt="">
    <img class="only-mobile header-back" src="../img/pages/oftalmopediatria-header-mob.png" alt="">
    <div class="header-text">
        <h1>Oftalmopediatria</h1>
        <h2>O olhar saudável começa cedo.</h2>
        <div  class="azulButton card-open">Vamos conversar?</div>
    </div>
</header>

<section class="intro-info">
    <img src="../img/home/back-sara.png" class="back-intro tablet-desktop" alt="">
    <div class="left-intro">
        <h1>Um olhar atento para o futuro das crianças.</h1>
        <img src="../img/pages/oftalmopediatria-mob.png" class="right-img only-mobile" alt="">
        <p>A infância é uma fase decisiva para o desenvolvimento da visão. É nesse período que muitas alterações oculares podem surgir, como estrabismo, ambliopia (olho preguiçoso), erros refrativos (miopia, hipermetropia, astigmatismo) e outras condições que, se não diagnosticadas e tratadas precocemente, podem comprometer a qualidade visual ao longo da vida.</p>
        <p>A oftalmopediatria cuida da visão infantil desde os primeiros meses até a adolescência, permitindo identificar e tratar problemas ainda no início, quando as chances de sucesso são maiores.</p>
        <p>Nas consultas, a criança é avaliada com atenção e acolhimento, garantindo segurança aos pais e favorecendo um desenvolvimento visual saudável e sem complicações futuras.</p>
        <div class="azulButton card-open">Vamos conversar?</div>
    </div>
    <img src="../img/pages/oftalmopediatria.png" class="right-img tablet-desktop" alt="">
</section>

<section class="boxes">
    <h1>Quando procurar um oftalmopediatra?</h1>
    <div class="wrap-boxes">
        <div class="box blueBox">
            <img src="../img/pages/avaliacao.png" alt="">
            <p>Para avaliações de rotina, mesmo sem sintomas aparentes.</p>
        </div>
        <div class="box greenBox">
            <img src="../img/pages/desalinhados.png" alt="">
            <p>Se a criança apresentar olhos desalinhados ou dificuldade para focar.</p>
        </div>
        <div class="box pinkBox">
            <img src="../img/pages/performance.png" alt="">
            <p>Em casos de baixa performance escolar ligada à visão.</p>
        </div>
        <div class="box greenBox">
            <img src="../img/pages/familiar.png" alt="">
            <p>Quando há histórico familiar de doenças oculares.</p>
        </div>
        <div class="box pinkBox">
            <img src="../img/pages/prevencao.png" alt="">
            <p>Para diagnóstico precoce, prevenção e tratamento eficaz da visão infantil.</p>
        </div>
        <div class="box blueBox">
            <img src="../img/pages/seguranca.png" alt="">
            <p>Quando os pais desejam segurança no cuidado com a visão dos filhos.</p>
        </div>
    </div>
    <p>Cuidar da visão também é cuidar da infância. Cuide da visão de quem você mais ama.</p>
    <div class="azulButton card-open">Agende sua consulta</div>
</section>

{% include 'footer.njk' %}

